.container
  .row
    .span9
      .page-header
        %h1
          Your mates on the map!
          %small Just add them
      .slideshow
        = image_tag "http://i.imm.io/HVh2.png"

    .span3
      %h3 Top 10 Teams
      %ol
        - @teams.find_each do |team|
          %li= link_to "#{team.name} <span class=\"badge badge-info\">#{team.users_count}</span>".html_safe, team

