%h1 Main page. Welcome!

- if current_user
  %p
    - if current_user.has_account?(:foursquare)
      Your 4Square account:
      = current_user.account(:foursquare).uid
    - else
      = link_to "Connect 4Square", "/auth/foursquare"

  #map_container
    #map_canvas
