.well
  %h1
    = image_tag(@user.avatar_url, alt: "Avatar")
    = @user.name

.container
  %h3 Accounts
  %ul
    - @user.accounts.each do |account|
      %li= link_to account.provider_name, account.userpage_url

  %h3 Teams
  %ul
    - @user.teams.each do |team|
      %li= link_to team.name, team
