.teams-container {
  height: 100%;
  .teams-show, .teams-new {
    height: 100%;
  }
}


#map_container{
  height: 100%;
}

#map_canvas{ height: 100%; }


.sidebar {
  height: 100%;
  position: relative;
  padding-top: 60px;

  .team_name {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    overflow: hidden;
  }
  .sidebar-nav {
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  .nav-list {
    padding: 0 5px 0 0;
  }
}

.team_name{
  cursor: pointer
}

li.team_user{
  height: 45px;

  &.present{
    cursor: pointer
  }
  &.highlight{
    color: red
  }

  .avatar {
    float: left;
    img { width: 40px; }
  }

  .info {
    padding-left: 50px;

    .name { color: #666; font-weight: bold;
      height: 20px;
      overflow: hidden;
      white-space: nowrap;
    }
    .location {
      color: #999;
      padding-right: 45px;
      position: relative;

      .place {
        height: 20px;
        overflow: hidden;
        white-space: nowrap;
      }
      .distance {
        background-color: #0088CC;
        border-radius: 4px 4px 4px 4px;
        color: white;
        padding: 0 4px;
        position: absolute;
        right: 0;
        top: 0;
        min-width: 32px;
        text-align: center;
      }
    }
  }
}

.join_link{
  width: 450px;
}

.foursquare-alert{
  position: fixed;
  left: 50%;
  margin: 20px 0 0 -150px;
  width: 300px;
  z-index: 9999;
}

.modal.index_teams{
  width: 800px;
  margin-left: -400px;
}
