.teams-container {
  height: 100%;
  .teams-show {
    height: 100%;
  }
}

.sidebar {
  position: relative;
  padding-bottom: 20px;
  height: 100%;
  h3 { margin-top: 0;}
  .copyright {
    position: absolute;
    bottom: 0;
    left: 10px;
  }
  .nav-list {
    padding: 0;
  }
}

.team_name{
  cursor: pointer
}

li.team_user{
  height: 45px;

  &.present{
    cursor: pointer
  }
  &.highlight{
    color: red
  }

  .avatar {
    float: left;
    img { width: 40px; }
  }

  .info {
    padding-left: 50px;

    .name { color: #666; font-weight: bold; }
    .location {
      color: #999;

      .place { }
      .distance { }
    }
  }
}
